/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

@media (min-width: 1920px) {
    .line {
        width: 50%;
    }
    
}

@media (max-width: 1400px) {
    .content-wrapper {
        max-width: 1200px;
    }

    .logo {
        margin-left: 20px;
        margin-top: 15px;
    }

    .all__team {
        height: 414px;
    }

    .link_eduard {
        top: -18px;
        left: 190px;
    }

    .link_victoria {
        top: 200px;
        left: 335px;
    }

    .link_sasha {
        top: 260px;
        left: 620px;
    }

    .link_angelina {
        top: -7px;
        left: 724px;
    }

    .link_ivan {
        top: 240px;
        left: 972px;
    }

    .about-us_title h2,
    .servises_title h2,
    .contact_title h2 {
        font-size: 55px;
    }

    .about-us_content,
    .servises_content,
    .Our-team_content,
    .contact_content {
        padding: 40px 0 10px 30px;
    }

    .line {
        top: 70px;
    }

    .info-box_text {
        font-size: 15px;
    }

    .servises__content {
        padding: 0px 0 20px;
    }

    .servises__content_box {
        width: 369px;
        height: 290px;
    }

    .content-wrapper_img {
        width: 350px;
        height: 350px;
        top: 100px;
        left: -5px;
    }

    .Our-team_line {
        top: 113px;
    }
}

@media (max-width: 1199px) {
    .content-wrapper {
        max-width: 992px;
    }

    .wrapper_logo {
        min-height: 290px;
    }

    .logo {
        margin-left: 141px;
        margin-top: 15px;
        height: 208px;
        width: 590px;
    }

    .block__aside {
        width: 240px;
        font-size: 20px;
    }

    .all__team {
        height: 343px;
    }

    .link_anna {
        top: 229px;
        left: 5px;
    }

    .link_eduard {
        top: -20px;
        left: 148px;
    }

    .link_victoria {
        top: 165px;
        left: 245px;
    }

    .link_sasha {
        top: 210px;
        left: 506px;
    }

    .link_angelina {
        top: -12px;
        left: 580px;
    }

    .link_ivan {
        top: 190px;
        left: 780px;
    }

    .line {
        top: 64px;
    }

    .about-us_title h2, .servises_title h2, .contact_title h2, .Our-team_title h2 {
        font-size: 40px;
    }

    .about-us__info {
        padding: 30px 30px 0;
    }

    .info-box {
        width: 20%;
        margin-bottom: 35px;
        margin-right: 10px;
    }

    .info-box_title {
        font-size: 28px;
        margin-bottom: 10px;
    }

    .info-box_text {
        font-size: 16px;
        line-height: 24px;
    }

    .servises__content_box {
        width: 304px;
        height: 235px;
    }

    .modal__content {
        width: 500px;
        font-size: 18px;
    }    

    .modal__content h3 {
        padding: 7px;
        font-size: 24px;
    }

    .modal__content {
        padding-bottom: 15px;
    }

    .modal__content .bold-text {
        font-size: 20px;
    }

    .modal__content .modifity-text {
        font-size: 18px;
    }

    .modal__content_wrapper {
        padding: 10px 10px 10px 15px;
    }

    .modal__content .modal_price {
        font-size: 28px;
        margin-top: 0px;
        margin-bottom: 0px;
    }

    .modal_btn {
        margin: 15px auto 0;
    }

    .content-wrapper_img {
        width: 300px;
        height: 300px;
        top: 35px;
        left: 78px;
    }

    .audit-profile__text_wrapper {
        width: 600px;
    }

    .audit-profile__box {
        padding: 50px 0;
        /* margin-left: 0; */
    }

    .audit-profoile__text h2 {
        font-size: 24px;
        font-weight: 600;
    }

    .audit-profoile__text {
        max-width: 750px;
        line-height: 24px;
        font-size: 20px;
    }

    .audit-profile_input {
        font-size: 18px;
    }

    .audit-profile_btn {
        font-size: 18px;
    }

    .Our-team_line {
        top: 113px;
    }

    .contact_phone {
        font-size: 24px;
    }

    .contact__adress_text {
        font-size: 18px;
    }
    
    .contact_form {
        max-width: 60%;
    }

    .content__form_text .title {
        font-size: 28px;
        margin-bottom: 15px;
    }

    .content__form_text {
        font-size: 20px;
    }

    /* slider */ 
    .Our-team__content {
        width: 600px;
    }

    .Our-team__content_box {
        width: 600px;
    }
    
    .title_substrate {
        max-width: 250px;
    }

    .slide__arrow {
        top: 285px;
    }

    .offer__slider-prev {
        left: 155px;
    }
    
    .offer__slider-next {
        right: 155px;
    }

    .Our-team__content_box_descr {
        line-height: 26px;
        font-size: 15px;
    }

    .Our-team__content_box_text h3 {
        font-size: 18px;
    }

    .Our-team__content_box_sub-text {
        font-size: 14px;
    }

    .Our-team__content_box_img {
        width: 270px;
        height: 305px;
    }

}

@media (max-width: 991px) {
    .content-wrapper {
        max-width: 768px;
    }

    .header__contacts_social button {
        font-size: 17px;
        width: 160px;
    }

    .header__contacts_feedback a {
        font-size: 18px;
    }

    .header__contacts_text {
        font-size: 18px;
    }

    .header__nav {
        font-size: 18px;
        margin: 15px 0 10px;
    }

    .header__nav .item {
        line-height: 20px;
    }

    .wrapper_logo {
        min-height: 200px;
    }

    .logo {
        margin-left: 20px;
        margin-top: 1px;
        height: 152px;
        width: 445px;
    }

    .block__aside {
        width: 220px;
        font-size: 18px;
        line-height: 30px;
        padding-left: 30px;
    }

    .all__team {
        height: 265px;
    }
    
    .link__team-membres {
        width: 130px;
        min-height: 38px;
    }

    .link_anna {
        top: 195px;
        left: 20px;
    }

    .link_eduard {
        top: -16px;
        left: 112px;
    }

    .link_victoria {
        top: 130px;
        left: 200px;
    }

    .link_sasha {
        top: 150px;
        left: 398px;
    }

    .link_angelina {
        top: -7px;
        left: 440px;
    }

    .link_ivan {
        top: 160px;
        left: 595px;
    }

    .about-us_title h2, .servises_title h2, .contact_title h2, .Our-team_title h2 {
        font-size: 33px;
    }

    .line {
        top: 58px;
    }

    .info-box_title {
        font-size: 26px;
        margin-bottom: 5px;
    }

    .info-box_title {
        font-size: 24px;
    }

    .info-box_text {
        font-size: 14px;
        line-height: 20px;
    }

    .btn__wrapper {
        padding: 8px 10px;
        min-width: 170px;
        font-size: 18px;
    }

    .about-us, .servises {
        padding-bottom: 0px;
    }

    .servises {
        padding-bottom: 30px;
    }

    .content-wrapper_img {
        width: 230px;
        height: 230px;
    }

    .audit-profile__box {
        padding: 20px 0;
    }

    .audit-profile__text_wrapper {
        width: 650px;
        /* text-align: right; */
    }

    .audit-profoile__text {
        max-width: 690px;
        padding-left: 125px;
        margin-right: 0;
    }

    .content-wrapper_img {
        width: 200px;
        height: 200px;
        top: 37px;
        left: 25px;
    }

    .audit-profile form {
        margin-left: 125px;
        margin-top: 10px;
    }

    .audit-profile_input {
        margin-right: 9px;
    }

    .audit-profile_input {
        width: 170px;
    }
    
    .Our-team_content, .contact_content {
        padding: 10px 0 0px 30px;
    }

    .Our-team_line {
        top: 75px;
    }

    .contact .line {
        top: 24px;
    }

    .foorer .item__box {
        max-width: 70%;
        font-size: 18px;
    }


    /* slider */ 
    .Our-team__content {
        width: 600px;
    }

    .Our-team__content_box {
        width: 600px;
    }
    
    .title_substrate {
        max-width: 250px;
    }

    .slide__arrow {
        top: 235px;
        width: 30px;
        height: 60px;
    }

    .offer__slider-prev {
        left: 45px;
    }
    
    .offer__slider-next {
        right: 45px;
    }

    .Our-team__content_box_descr {
        line-height: 26px;
        font-size: 15px;
    }

    .Our-team__content_box_text h3 {
        font-size: 16px;
    }

    .Our-team__content_box_sub-text {
        font-size: 14px;
    }

    .Our-team__content_box_img {
        width: 270px;
        height: 305px;
    }
}

@media (max-width: 767px) {
    
    .content-wrapper {
        max-width: 576px;
    }

    .header {
        padding: 15px 0;
    }

    /* menu */
    .header__nav .item {
        margin: 0;
        padding: 0;
    }

    .link_team {
        display: block;
    }
    
    .menu {
        position: fixed;
        z-index: 999;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        top: -20px;
        left: -100%;
        width: 50%;
        height: 100vh;
        padding: 20px 15px;
        background-color: rgba(0, 0, 0, 0.8);
        -webkit-transition: 0.6s all;
        -o-transition: 0.6s all;
        transition: 0.6s all;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        flex-direction: column;
        -ms-flex-pack: distribute;
            justify-content: space-around;
        align-items: center;
        padding: 200px 0;
        text-align: center;
    }

    .menu_active {
        left: 0;
    }

    .menu_item {
        padding-right: 0;
        border: none;
        margin-top: 50px;
    }

    .menu_link {
        font-size: 20px;
    }

    .menu .menu_link {
        padding: 20px 40px;
    }

    .hamburger {
        display: block;
        position: absolute;
        left: 15px;
        top: 35px;
        -webkit-transform: translateY(-50%);
                -ms-transform: translateY(-50%);
            transform: translateY(-50%);
        width: 33px;
        height: 12px;
        cursor: pointer;
    }

    .hamburger span {
        display: block;
        height: 4px;
        width: 100%;
        background-color: #fff;
        margin-bottom: 3px;
        -webkit-transition: 0.5s all;
        -o-transition: 0.5s all;
        transition: 0.5s all;
    }
      
    .hamburger_active span {
        margin-bottom: -2px;
    }

    .hamburger_active span:nth-child(1) {
        -webkit-transform: translateY(3px) rotate(-45deg);
                -ms-transform: translateY(3px) rotate(-45deg);
            transform: translateY(3px) rotate(-45deg);
        border-radius: 0;
    }

    .hamburger_active span:nth-child(2) {
        display: none;
    }

    .hamburger_active span:nth-child(3) {
        -webkit-transform: translateY(3px) rotate(45deg);
                -ms-transform: translateY(3px) rotate(45deg);
            transform: translateY(3px) rotate(45deg);
        border-radius: 0;
    }

    .header__nav .item {
        border-right: none;
        font-size: 24px;
    }

    .menu_active {
        left: 0;
    }
    
    .header__contacts_text {
        display: none;
    }

    .header__contacts_feedback a {
        font-size: 22px;
        margin-right: 20px;
    }
         
    .wrapper_logo {
        min-height: 140px;
    }

    .logo {
        margin-left: 45px;
        margin-top: 10px;
        height: 100px;
        width: 330px;
    }

    .block__aside {
        width: 140px;
        font-size: 14px;
        line-height: 20px;
        padding-left: 20px;
    }

    .all__team {
        height: 199px;
    }

    .link__team-membres {
        width: 100px;
        min-height: 37px;
    }

    .link_anna {
        top: 124px;
        left: 0px;
    }

    .link_eduard {
        top: -20px;
        left: 81px;
    }

    .link_victoria {
        top: 97px;
        left: 148px;
    }

    .link_sasha {
        top: 110px;
        left: 297px;
    }

    .link_angelina {
        top: -16px;
        left: 334px;
    }

    .link_ivan {
        top: 115px;
        left: 452px;
    }

    .about-us_content, .servises_content, .Our-team_content, .contact_content {
        padding: 20px 0 10px 27px;
    }

    .about-us_title h2, .servises_title h2, .contact_title h2, .Our-team_title h2 {
        font-size: 28px;
        padding-left: 0;
    }

    .line {
        top: 33px;
        height: 3px;
    }

    .about-us__info {
        padding: 10px 0px 0;
    }

    .about-us__info {
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }
    
    .info-box_title {
        font-size: 22px;
    }

    .info-box_text {
        line-height: 18px;
    }

    .info-box {
        width: 45%;
        margin-bottom: 20px;
        margin-right: 0px;
    }

    .servises {
        padding-bottom: 30px;
    }

    .servises__content_box {
        width: 262px;
        height: 215px;
    }
    
    .content-wrapper_img {
        display: none;
    }

    .audit-profile {
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        max-width: 100%;
    }


    .audit-profoile__text h2 {
        font-size: 20px;
    }

    .audit-profoile__text {
        max-width: 90%;
        padding-left: 0;
        margin-right: 0;
        max-width: 750px;
        line-height: 22px;
        font-size: 16px;
    }

    .audit-profile form {
        margin-left: 0;
        margin-top: 10px;
    }

    .audit-profile_input,
    .audit-profile_btn {
        padding: 5px;
        font-size: 16px;
        line-height: 20px;
        margin-top: 15px;
    }

    .Our-team__wrapper {
        padding: 0;
    }

    .contact__content {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        padding: 20px 0 30px 30px;
    }

    .contact .line {
        top: 33px;
    }

    .box__contact {
        margin-bottom: 30px;
    }
    
    .contact_form {
        max-width: 95%;
    }

    .contact__input {
        padding: 10px 15px;
    }

    .foorer {
        padding: 25px 0 30px;
    }

    .foorer .item__box {
        max-width: 70%;
    }

    .foorer .item__box {
        max-width: 85%;
    }

    .foorer .item__box .item {
        font-size: 18px;
    }

    .overlay .modal {
        width: 300px;
    }

    .overlay .modal_title {
        font-size: 20px;
        margin: 30px 0 15px;
    }

    .overlay .modal form input, .overlay .modal form textarea {
        width: 265px;
        font-size: 16px;
    }

    .overlay .modal form .btn_submit {
        font-size: 16px;
    }

    /* slider */ 
    .Our-team__content {
        width: 400px;
    }

    .Our-team__content_box {
        width: 400px;
    }
    
    .title_substrate {
        max-width: 215px;
    }

    .slide__arrow {
        top: 235px;
        width: 30px;
        height: 60px;
    }

    .offer__slider-prev {
        left: 45px;
    }
    
    .offer__slider-next {
        right: 45px;
    }

    .Our-team__content_box_img {
        width: 275px;
        height: 255px;
    }
    
    .Our-team__content_box_text h3 {
        font-size: 18px;
        left: 10px;
    }

    .Our-team__content_box_sub-text {
        font-size: 13px;
        margin: 5px 0 0 0;
    }

    .Our-team__content_box_descr {
        line-height: 20px;
        font-size: 14px;
    }
}

@media (max-width: 575px) {
    .content-wrapper {
        max-width: 460px;
    }

    .header {
        padding: 5px;
    }

    .header__contacts_social button {
        font-size: 14px;
        width: 140px;
        line-height: 15px;
    }

    .header__contacts_social .facebook a {
        margin: 0px 5px;
    }

    .header__contacts_social a, .contact_social a {
        font-size: 14px;
        padding: 7px 12px 5px;
        line-height: 15px;
    }

    .header__contacts_social .instagram a {
        font-size: 19px;
        padding: 5px 7px 4px;
    }

    .hamburger {
        left: 20px;
        top: 16px;
    }

    .header__contacts_feedback {
        display: none;
    }

    .logo {
        margin: 10px auto 0;
        height: 110px;
        width: 350px;
    }

    .block__aside {
        display: none;
    }

    .all__team {
        display: none;
        height: 159px;
        -webkit-box-shadow: inset -6px 1px 30px #000;
                box-shadow: inset -6px 1px 30px #000;
    }

    .link_anna {
        top: 99px;
        left: 0px;
    }

    .link_eduard {
        top: -21px;
        left: 58px;
    }

    .link_victoria {
        top: 69px;
        left: 100px;
    }

    .link_sasha {
        top: 80px;
        left: 239px;
    }

    .link_angelina {
        top: -24px;
        left: 254px;
    }

    .link_ivan {
        top: 80px;
        left: 347px;
    }

    .about-us_content, .servises_content, .Our-team_content, .contact_content {
        padding: 20px 0 10px 20px;
    }

    .info-box_title {
        font-size: 22px;
    }

    .info-box_text {
        font-size: 12px;
    }

    .btn__wrapper {
        padding: 7px 10px;
        min-width: 160px;
        font-size: 16px;
    }

    .info-box {
        width: 90%;
    }

    .about-us_title h2, .servises_title h2, .contact_title h2, .Our-team_title h2 {
        font-size: 26px;
    }

    .servises__content_title {
        font-size: 20px;
    }

    .modal__content {
        width: 430px;
        font-size: 14px;
        line-height: 26px;
    }

    .modal__content h3 {
        padding: 5px;
        font-size: 18px;
    }

    .modal__content .modifity-text {
        font-size: 15px;
    }

    .modal__content .bold-text {
        font-size: 15px;
    }

    .modal__content .modal_price {
        font-size: 20px;
    }

    .modal_price .modal_price_sub {
        font-size: 18px;
    }

    .modal_btn {
        margin: 10px auto 0;
        padding: 10px;
    }

    .audit-profile__box {
        -webkit-box-pack: start;
            -ms-flex-pack: start;
                justify-content: start;
    }

    .audit-profoile__text {
        max-width: 90%;
    }

    .audit-profile_input {
        width: 135px;
    } 
    
    .content__form_text .title {
        font-size: 22px;
    }

    .content__form_text {
        font-size: 16px;
        margin-bottom: 20px;
    } 

    .foorer {
        padding: 15px 0 20px;
    }

    .foorer .item__box .item {
        font-size: 16px;
    }

    .contact_social a {
        font-size: 18px;
        padding: 7px 12px 6px;
        line-height: 15px;
        width: 36px;
    }

    /* slider */ 
    .Our-team__content {
        width: 400px;
    }
    
    .Our-team__content_box {
        width: 400px;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
    
    .title_substrate {
        max-width: 300px;
        margin-top: 10px;
    }

    .slide__arrow {
        top: 235px;
        width: 30px;
        height: 60px;
    }

    .offer__slider-prev {
        left: 0;
    }
    
    .offer__slider-next {
        right: 0;
    }

    .Our-team__content_box_img {
        width: 275px;
        height: 255px;
    }
    
    .Our-team__content_box_text h3 {
        font-size: 18px;
        left: 10px;
    }

    .Our-team__content_box_sub-text {
        font-size: 13px;
        margin: 5px 0 0 0;
    }

    .Our-team__content_box_descr {
        line-height: 20px;
        font-size: 14px;
    }

}

@media (max-width: 460px) {
    .content-wrapper {
        max-width: 320px;
    }

    .wrapper_logo {
        min-height: 95px;
    }

    .logo {
        height: 70px;
        width: 231px;
    }

    .block__aside {
        width: 90px;
        font-size: 10px;
        line-height: 16px;
        padding-left: 10px;
    }

    .all__team {
        height: 110px;
    }

    .link__team-membres {
        width: 80px;
        min-height: 23px;
    }

    .link_anna {
        top: 82px;
        left: -2px;
    }

    .link_eduard {
        top: -11px;
        left: 38px;
    }

    .link_victoria {
        top: 53px;
        left: 58px;
    }

    .link_sasha {
        top: 70px;
        left: 160px;
    }

    .link_angelina {
        top: -15px;
        left: 162px;
    }

    .link_ivan {
        top: 59px;
        left: 235px;
    }

    .about-us_content, .servises_content, .Our-team_content, .contact_content {
        padding: 14px 0 5px 15px;
    }

    .about-us_title h2, .servises_title h2, .contact_title h2, .Our-team_title h2 {
        font-size: 20px;
    }

    .line {
        top: 30px;
        height: 2px;
    }

    .info-box_title {
        font-size: 16px;
    }

    .info-box_text {
        font-size: 10px;
        line-height: 16px;
        margin-right: 15px;
    }

    .btn__wrapper {
        padding: 5px 5px;
        min-width: 170px;
        font-size: 13px;
        margin-top: 0;
    }

    .servises_btn {
        padding: 10px 5px;
        width: 140px;
        font-size: 14px;
    }

    .modal__content {
        width: 310px;
        margin-top: 60px;
    }

    .audit-profile form {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        margin: 15px 0 0;
    }

    .audit-profile__box {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        margin: 0 auto;
    }

    .audit-profile_input, .audit-profile_btn {
        width: 150px;
        margin: 10px 0 0;
    }

    .audit-profile_input {
        width: 80%;
    }

    .line {
        top: 22px;
    }

    .contact_phone {
        font-size: 20px;
    }

    .contact__adress_text {
        font-size: 16px;
    }

    .content__form_text .title {
        font-size: 20px;
    }

    .content__form_text {
        font-size: 14px;
        line-height: 18px;
    }

    .contact__input {
        font-size: 16px;
    }

    .contact_btn {
        width: 175px;
        font-size: 16px;
    }

    .contact .line {
        top: 25px;
    }

    .foorer {
        padding: 10px 0 15px;
    }

    .foorer .item__box .item {
        font-size: 14px;
    }

    /* slider */ 
    .Our-team__content {
        width: 300px;
    }
    
    .Our-team__content_box {
        width: 300px;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
    
    .title_substrate {
        max-width: 260px;
        margin-top: 10px;
    }

    .slide__arrow {
        top: 235px;
        width: 30px;
        height: 60px;
    }

    .offer__slider-prev {
        left: 5px;
    }
    
    .offer__slider-next {
        right: 5px;
    }

    .Our-team__content_box_img {
        width: 275px;
        height: 255px;
    }
    
    .Our-team__content_box_text h3 {
        font-size: 18px;
        left: 10px;
    }

    .Our-team__content_box_sub-text {
        font-size: 13px;
        margin: 5px 0 0 0;
    }

    .Our-team__content_box_descr {
        line-height: 20px;
        font-size: 14px;
    }
    
}

@media (max-width: 320px) {
    .content-wrapper {
        max-width: 300px;
    }

    .all__team {
        height: 104px;
    }

    .link_eduard {
        top: -13px;
        left: 31px;
    }

    .link_victoria {
        top: 50px;
        left: 52px;
    }

    .link_sasha {
        top: 70px;
        left: 145px;
    }

    .link_angelina {
        top: 37px;
        left: 154px;
    }

    .link_ivan {
        top: 58px;
        left: 207px;
    }

    


}