* {
    box-sizing: border-box;
}

body {
    background-color: black;
}

::-webkit-scrollbar {
    width: 7px;
}

::-webkit-scrollbar-track {
    background: black;
}

::-webkit-scrollbar-thumb {
    background: #4e4192;
}

a {
    color: #fff;
}

.content-wrapper {
    max-width: 1320px;
    margin: 0 auto;
}

.header {
    padding: 30px 0 0 0;
}

.header__contacts {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.header__contacts_feedback {
    display: flex;
    flex-direction: column;
}

.header__contacts_text {
    color: #fff;
    font-size: 20px;
    margin-right: 40px;
    transition: all 0.4s;
}

.header__contacts_feedback a {
    color: #fff;
    font-size: 20px;
}

.header__contacts_social {
    display: flex;
}

.header__contacts_social button{
    background-color: #4e4192;
    color: #fff;
    font-size: 22px;
    line-height: 25px;
    padding: 5px;
    border-radius: 5px;
    width: 280px;
    cursor: pointer;
    border-color: #4e4192;
    box-shadow: 0 0 20px #4e4192;
}

.tel_hover:hover {
    color: #4e4192;
    transition: all 0.4s;
}

.header__contacts_social a,
.contact_social a {
    display: block;
    font-size: 24px;
    background-color: #4e4192;
    padding: 7px 12px 6px;
    line-height: 24px;
    border-radius: 5px;
    box-shadow: 2px 2px 20px #4e4192;
}

.header__contacts_social .facebook a {
    margin: 0 15px;
}

.header__contacts_social .instagram a {
    font-size: 28px;
    padding: 5px 8px;
}

.header__nav {
    display: flex;
    font-size: 20px;
    margin-top: 20px;
    font-family: Century Gothic;
    font-weight: bold;
}

.hamburger {
    display: none;
  }

.header__nav .item {
    margin: 0 25px 0 0;
    border-right: 2px solid #fff;
    padding-right: 25px;
    line-height: 30px;
    transition: all 0.4s;
}

.header__nav .item a:hover {
    color: #4e4192;
    transition: all 0.4s;
}

.first-block_wrapper {
    background-image: linear-gradient(to top right, #5749A6, #000);
}

.wrapper_logo {
    background-image: linear-gradient(to bottom right, #312947, #201D1D);
    min-height: 400px;
    display: flex;
    justify-content: space-between;
}

.logo {
    background: url("../img/logo.png") 100% 100% / contain no-repeat;
    width: 780px;
    height: 280px;
    margin-left: 100px;
}

.block__aside {
    width: 300px;
    background-color: #4D185A;
    color: #fff;
    font-size: 24px;
    line-height: 52px;
    padding-left: 40px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    display: flex;
    align-items: center;
    box-shadow: -15px 15px 30px #000;
}

.all__team {
    background: url("../img/photo-all-team.jpg") center center / contain no-repeat;
    height: 456px;
    position: relative;
    box-shadow: inset -15px 15px 30px #000;
}

.link__team-membres {
    position: absolute;
    width: 170px;
    min-height: 50px;
    transition: all 0.3s;
}

.link__team-membres:hover {
    transform: scale(1.1);
    transition: all 0.3s;
}

.link_anna {
    background: url('../img/link_anna.png') 100% 100% / contain no-repeat;
    top: 285px;
    left: 35px;
}

.link_eduard {
    background: url('../img/link_eduard.png') 100% 100% / contain no-repeat;
    top: -30px;
    left: 200px;
}

.link_victoria {
    background: url('../img/link_victoria.png') 100% 100% / contain no-repeat;
    top: 175px;
    left: 340px;
}

.link_sasha {
    background: url('../img/link_sasha.png') 100% 100% / contain no-repeat;
    top: 285px;
    left: 715px;
}

.link_angelina {
    background: url('../img/link_angelina.png') 100% 100% / contain no-repeat;
    top: 10px;
    left: 800px;
}

.link_ivan {
    background: url('../img/link_ivan.png') 100% 100% / contain no-repeat;
    top: 260px;
    left: 1085px;
}

.about-us,
.servises {
    position: relative;
    background-color: #000;
    color: #fff;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding-bottom: 30px;
}

.about-us_content,
.servises_content,
.Our-team_content,
.contact_content {
    padding: 60px 0 10px 30px;
}

.about-us_title,
.servises_title,
.Our-team_title {
    display: flex;
}

.about-us_title h2,
.servises_title h2,
.contact_title h2 {
    font-size: 60px;
    font-weight: bold;
    text-transform: uppercase;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.line {
    position: absolute;
    height: 5px;
    background-color: #5749A6;
    width: 60%;
    top: 95px;
    right: 0;
}

.about-us__info {
    font-family: Century Gothic;
    padding: 50px 30px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.info-box {
    width: 22%;
    /* margin-right: 30px; */
    margin-bottom: 50px;
}

.info-box_title {
    font-size: 30px;
    margin-bottom: 15px;
}

.info-box_text {
    font-size: 16px;
    line-height: 30px;
}

.btn__wrapper {
    border-radius: 5px;
    color: #fff;
    padding: 10px 15px;
    min-width: 200px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 20px;
    letter-spacing: 1px;
    margin: 0 auto;
    display: block;
    cursor: pointer;
    border: none;
}

.about-us_btn {
    background-color: #4e2060;
    transition: 0.3s;
}

.about-us_btn:hover {
    box-shadow: inset -2px -2px 20px 3px #1f0529;;
    transition: 0.3s;
}

.wrapper__content_img {
    border: 3px solid #5749A6;
    margin: 10px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

.servises__content {
    display: flex;
    position: relative;
    flex-wrap: wrap;
    padding: 50px 0 30px;
    justify-content: center;
}

.servises__content_box {
    width: 410px;
    height: 309px;
    transition: all 0.5s;
    filter: brightness(110%);
}

.servises__content_box:hover {
    filter: brightness(180%);
    transform: scale(1.1);
    transition: all 0.5s;
    overflow: hidden;
    display: block;
}

.servises__content_box_1 {
    background: url("../img/1.png") center center/cover no-repeat;
}

.servises__content_box_2 {
    background: url("../img/2.png") center center/cover no-repeat;
}

.servises__content_box_3 {
    background: url("../img/3.png") center center/cover no-repeat;
}

.servises__content_box_4 {
    background: url("../img/4.png") center center/cover no-repeat;
}

.servises__content_box_5 {
    background: url("../img/5.png") center center/cover no-repeat;
}

.servises__content_box_6 {
    background: url("../img/6.png") center center/cover no-repeat;
}

.servises__content_title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: Century Gothic;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
    font-size: 24px;
    line-height: 30px;
}

.servises_btn {
    background-color: #5749A6;
    border-color: #5749A6;
    margin-top: 20px;
    transition: 0.3s;
}

.servises_btn:hover {
    box-shadow: inset 0px 0px 16px 3px #2c1999;
    transition: 0.3s;
}

.audit-profile {
    background-image: linear-gradient(to top right, #5749A6, #000);
    color: #fff;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 100;
}

.audit-profile__box {
    display: flex;
    justify-content: space-around;
    padding: 100px 0;
    justify-content: flex-end;
    position: relative;
}

.content-wrapper_img {
    background: url("../img/vika.png") 100% 100%/contain no-repeat;
    width: 400px;
    height: 400px;
    position: absolute;
    top: 70px;
    left: 70px;
    z-index: 999;
}

.audit-profile__text_wrapper {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 100;
}

.audit-profoile__text {
    max-width: 800px;
    line-height: 30px;
    font-size: 24px;
}

.audit-profoile__text h2 {
    text-transform: uppercase;
    font-size: 35px;
    margin-bottom: 15px;
    letter-spacing: 1px;
}

.audit-profile form {
    margin-top: 35px;
    display: flex;
}

.audit-profile_input {
    background-color: transparent;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    border-radius: 5px;
    border: 3px solid #fff;
    padding: 10px 15px;
    color: #fff;
    margin-right: 40px;
    display: block;
    font-size: 20px;
    letter-spacing: 1px;
}

.audit-profile_input::placeholder {
    color: #fff;
    letter-spacing: 2px;
}


.audit-profile_btn {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding: 10px 15px;
    background-color: #4e2060;
    border-color: #4e2060;
    color: #fff;
    border-radius: 5px;
    min-width: 100px;
    box-shadow: -2px -2px 10px black;
    display: block;
    font-size: 24px;
    transition: 0.3s;
    cursor: pointer;
}

.Our-team__wrapper {
    background-color: #000;
    min-height: 500px;
    color: #fff;
    padding: 100px  0 50px;
    position: relative;
}

.Our-team_content {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.Our-team_title h2{
    text-transform: uppercase;
    font-size: 60px;
}

.Our-team_line {
 top: 190px
}

.Our-team__content {
    display: flex;
    position: relative;
}

.offer__slider-inner {
    display: flex;
    padding: 0 40px;
}

.slide__arrow {
    width: 40px;
    height: 100px;
    background: url("../img/arrow.png") center center/contain no-repeat;
    cursor: pointer;
    position: absolute;
    z-index: 999;
    top: 215px;
}

.offer__slider-prev {
    left: 0;
}

.offer__slider-next {
    transform: rotate(180deg);
    right: 0;
}

.Our-team__content_box {
    margin: 30px 25px 0;
    /* width: 390px; */
    width: calc(100%/3);
    font-family: Century Gothic;
    font-weight: bold;
}

.Our-team__content_box_text {
    margin-left: 115px;
    width: 270px;
}

.Our-team__content_box_text h3 {
    display: block;
    font-size: 20px;
    line-height: 18px;
    position: absolute;
    top: -6px;
    left: 46px;
}

.title_substrate {
    position: relative;
    background-color: #5749A6;
    height: 8px;
    width: 270px;
}

.Our-team__content_box_sub-text {
    font-size: 16px;
    font-style: italic;
    font-weight: 100;
    margin-top: 10px;
    margin-bottom: 15px;
    display: block;
}

.Our-team__content_box_sub-text:nth-child(2) {
    text-align: right;
}

.Our-team__content_box_img {
    width: 220px;
    height: 350px;
    margin: 0 auto;
}

.Our-team__content_box_img_victoria {
    background: url("../img/team1.jpg") center center/contain no-repeat;
}

.Our-team__content_box_img_oleksand {
    background: url("../img/team2.jpg") center center/contain no-repeat;
}

.Our-team__content_box_img_angelina {
    background: url("../img/team3.jpg") center center/contain no-repeat;
}

.Our-team__content_box_img_anna {
    background: url("../img/team4.jpg") center center/contain no-repeat;
}

.Our-team__content_box_img_eduard {
    background: url("../img/team5.jpg") center center/contain no-repeat;
}

.Our-team__content_box_img_ivan {
    background: url("../img/team6.jpg") center center/contain no-repeat;
}

.Our-team__content_box_img_dasha {
    background: url("../img/team7.jpg") center center/contain no-repeat;
}

.Our-team__content_box_img_andrey {
    background: url("../img/team8.jpg") center center/contain no-repeat;
}

.Our-team__content_box_descr {
    font-size: 16px;
    font-weight: 600;
    line-height: 28px;
    margin-top: 20px;
}

.contact {
    color: #fff;
    position: relative;
}

.contact__content {
    display: flex;
    justify-content: space-between;
    padding: 50px 0 30px 30px;
    font-family: Century Gothic;
}

.contact_phone {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 10px;
}

.contact__adress_text {
    font-size: 20px;
    margin-bottom: 20px;
}

.contact_social {
    display: flex;
    justify-content: center;
}

.contact_social a {
    margin: 0 10px;
}

.contact_social .instagram  a{
    padding: 7px 10px 6px;
}

.contact_social a {
    width: 40px;
}

.contact_form {
    display: flex;
    flex-direction: column;
    max-width: 50%;
}

.content__form_text {
    font-size: 22px;
    font-weight: 100;
    margin-bottom: 30px;
    line-height: 30px;
}

.content__form_text .title {
    font-size: 34px;
    font-weight: bold;
    margin-bottom: 20px;
}


.contact__input {
    margin-bottom: 20px;
    padding: 20px 25px;
    border-radius: 5px;
    font-family: Century Gothic;
    color: #000;
    font-size: 20px;
    font-weight: 500;
    border: 3px solid #5749A6;
}

.contact_btn {
    width: 250px;
    margin: 0 auto;
    padding: 10px 15px;
    font-family: Century Gothic;
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    background-color: #5749A6;
    border-radius: 5px;
    border-color: transparent;
}

.foorer {
    color: #fff;
    background-image: linear-gradient(to bottom, #5749A6, #000);
    padding: 50px 0 80px;
}

.foorer .item__box {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 50%;
}

.foorer .item__box .item {
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
}